    * {
            margin: 0px;
            padding: 0px;
        }

        h1 {
            margin: 20px;
            font-size: 52px;
        }

        li {
            list-style: none;
        }

        #commodity {
            display: flex;
            flex-wrap: wrap;
        }

        #commodity li {
            width: 200px;
            height: 400px;
            margin: 10px;
            position: relative;
        }

        img {
            width: 100%;
        }

        dd {
            position: absolute;
            left: 0px;
            bottom: 40px;
        }

        p {
            color: rgb(165, 159, 159);
            position: absolute;
            left: 0px;
            bottom: 0px;
        }

        span {
            margin-left: 10px;
            color: red;
            font-weight: 600;
        }

        del::before,
        span::before {
            content: "￥";
        }